<%= form_with(model: post) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div><br>

  <div>
    <%= form.label :text %>
    <%= form.text_field :text, class:"form-control" %>
  </div><br>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image, class:"form-control", accept: "image/jpeg,image.gif,image/png" %>
  </div><br>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.submit class:"btn btn-primary m-1" %>
  </div>
<% end %>
