<div class="p-4">
    <h1 class="m-2"><%= @post.name %></h1><hr>
    <h3>Create Comment on this post</h3>
    <%= form_with(model: @comment) do |form| %>
        <div>
            <%= form.label :text %>
            <%= form.text_field :text, class:"form-control" %>
        </div>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.hidden_field :post_id, value: @post.id %>
        <div>
            <%= form.submit class:"btn btn-primary m-2" %>
        </div>
    <% end %>

</div>
<hr>
<div class="p-4">
    <h3>Already Existing Comments</h3>
    <% @comments.each do |comment| %>
        <div class="alert alert-info m-2 row" role="alert">
            <div class="col-11">
                <%= comment.text %> by <small><i> <%= comment.user.email %> </i></small>
            </div>
            <div class="col-1">
                <% if comment.user_id == current_user.id %>
                    <%= button_to "Delete", comment, method: :delete, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger m-2" %>
                <% end %>    
            </div>
        </div>
    <% end %>
       
</div>

