<div class="m-4">
    <h2>Friend Requests</h2>

    <% @requests.each do |r| %>
        <% if r.to == current_user.id %>    
            <div class="alert alert-info m-5 row" role="alert">
                <div class="col-8">
                    <% @users.each do |u| %>
                        <% if u.id == r.from %>
                            <%= u.email %> is sending you a friend request
                        <% end %>
                    <% end %>   
                </div>
                <div class="col-4 d-flex">
                    <%= form_with(model: @friend) do |form| %>
                        <%= form.hidden_field :user_id, value: current_user.id %>
                        <%= form.hidden_field :friend_with, value: r.to %>
                        <%= form.submit "Accept", class:"btn btn-success m-2"%>
                    <% end %>
                    <%= button_to "Decline", friend_request_url(r.id), method: :delete, class:"btn btn-danger m-2" %>
                </div>
            </div>        
        <% end %>
    <% end %>
</div>