<header>
    <nav class="navbar navbar-expand-md navbar-primary bg-primary px-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to "Facebook", root_url, class:"navbar-brand" %>

        <div class="collapse navbar-collapse d-flex justify-content-between p-2" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <%= link_to "Home", root_url, class:"nav-link m-1" %>
                </li>
                <% if user_signed_in? %>
                    <li class="nav-item">
                        <%= link_to "New Post", new_post_url, class:"nav-link m-1" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Users", get_users_url, class:"nav-link m-1" %>
                    </li> 
                    <li class="nav-item">
                        <%= link_to "Friend Requests", user_requests_url(current_user.id), class:"nav-link m-1" %>
                    </li> 
                <% end %>
            </ul>

            <div>
                <% if user_signed_in? %>
                    <div class="d-flex flex-row">
                        <%= link_to "Profile", profile_url(id: current_user.id ), class:"btn btn-primary m-1" %>
                        <%= button_to "Logout", destroy_user_session_url, method: :delete, class:"btn btn-primary m-1" %>
                    </div>
                <% else %>
                    <div class="d-flex flex-row"> 
                        <%= link_to "Register", new_user_registration_url, class:"btn btn-primary m-1" %>
                        <%= link_to "Login", new_user_session_url, class:"btn btn-primary m-1" %>
                    </div>
                    
                <% end %>
            </div>
        </div>
    </nav>
</header>